<mat-card class="card sub-theming" fxFlex="100%">
  <mat-card-header>
    <mat-card-title>Sutheming</mat-card-title>
    <mat-card-subtitle>Subtheming example, custom properties are scoped here, hence the modifications in upper ElementRef should not affect</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="example-button-row">
      <button mat-flat-button>Basic</button>
      <button mat-flat-button color="primary">Primary</button>
      <button mat-flat-button color="accent">Accent</button>
      <button mat-flat-button color="warn">Warn</button>
      <button mat-flat-button disabled>Disabled</button>
      <a mat-flat-button routerLink=".">Link</a>
    </div>
  </mat-card-content>
</mat-card>
