<mat-sidenav-container class="app-wrapper">
  <mat-sidenav-content>
    <mat-toolbar class="top-nav" color="primary" style="justify-content: space-between;">
        <button mat-flat-button [colorPicker]="colors.primary" color="primary" (colorPickerChange)="onColorChange($event, palettes.primary)">
          Primary
          <mat-icon>create</mat-icon>
        </button>
        <button mat-flat-button [colorPicker]="colors.secondary"  color="accent" (colorPickerChange)="onColorChange($event, palettes.secondary)">
          Secondary
          <mat-icon>create</mat-icon>
        </button>
        <button mat-flat-button [colorPicker]="colors.warn" color="warn" (colorPickerChange)="onColorChange($event, palettes.warn)">
          Warning
          <mat-icon>create</mat-icon>
        </button>
        <div class="contrast-rating-wrapper">
            <span>({{contrastRatio}}) </span>
            <span *ngIf="contrastRatio < 4.5">Non AA compliant</span>
            <span *ngIf="contrastRatio >= 4.5 && contrastRatio < 7">AA compliant</span>
            <span *ngIf="contrastRatio >= 7">AAA compliant</span>
            <mat-slider
              color="primary"
              [max]="7"
              [min]="0"
              [step]="0.1"
              [value]="contrastRatio"
              (input)="onContrastFactorChange($event.value)">
            </mat-slider>
        </div>
    </mat-toolbar>
    <main>
      <app-dashboard></app-dashboard>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
